<div class="white px-4 section-header pt-5">
    <h3>Users list</h3>
    <p class="grey-text">Manage your customers list</p>
  </div>
  
  <div class="container-fluid pt-5 pb-5">
    <div>
      <button mdbBtn color="primary" (click)="onAddUser()">Add new customer</button>
      <div class="mt-4 white">
        <div class="z-depth-1">
            <table class="table table-striped table-responsive-md btn-table" mdbTable>
                <thead style="background-color: transparent">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td>
                            <a class="mr-2">
                                <mdb-icon fas icon="edit" (click)="onEditUser()"></mdb-icon>
                            </a>
                            <a>
                                <mdb-icon fas icon="trash" (click)="onDeletePost()"></mdb-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  
      <!-- <div *ngIf="isLoading$ | async" class="d-flex justify-content-center align-items-center" style="margin-top: 200px">
        <div class="spinner-grow text-primary" role="status" style="width: 4rem; height: 4rem;">
          <span class="sr-only">Loading...</span>
        </div>
      </div> -->
    </div>
  </div>  