<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Finlax</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <!-- Links -->

        <!-- Search form -->
        <form class="form-inline waves-light" mdbWavesEffect (submit)="searchData()">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" name="searchKeyword" placeholder="Search" [(ngModel)]="searchKeyword">
            </div>
            <div class="md-form form-group">
                <button href="" class="btn btn-success btn-sm" type="submit">Search</button>
            </div>
        </form>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->